*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    font-size: 1.6rem;
}

.container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn:link,
.btn:visited {
    background-color: orangered;
    padding: 0.5em 1.5em;
    font-size: 2rem;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 1rem;
    display: inline-block;
    text-decoration: none;
    transition: all 0.3s;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.4);
}

.btn:hover,
.btn:active {
    transform: translateY(-1rem);
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.3);
}
